@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
  }
  :root
  {
    --primarycolor:#FBF46D

  }
  .head {
    
    background-color:var(--primarycolor);
    
    width: 100%;
  }
  .head .head--h1
{   text-align: center;
    color:black;
    text-align: center;
    margin-top: 0px;
    padding: 1.5rem;
}
  
.container
{
  display: flex;
  justify-content: center;
}
  .text-input
  {
    border:2px solid black;
    width: 110%;
    min-height: 20vh;
    

  }

  .btn-translate
  {
    border-style: none;
    background-color: var(--primarycolor); 
    font-size: larger;
    padding: 1rem;
    border-bottom-left-radius:1rem;
    border-bottom-right-radius: 1rem;
    font-family:'Open Sans', sans-serif; 
    font-weight: bold;
  }
  .center-container {
    max-width: 500px;
     margin: auto; 
    padding-top:  1rem;
  }
  .para
  {
    font-size: larger; 
     font-weight: bold;
     margin: 0px; 
  }
  .output-txt
  {
    border:2px solid black;
    width: 110%;
    min-height: 20vh;
    max-height: 15vh;
    overflow: scroll;
    margin-bottom: 10px;

  }
  
  
  .end
  {
    text-align: center;
     
     width: 100%; 

    background-color: var(--primarycolor);
  }
   .end-p
  {
    max-width: 600px;
    margin: auto;
    padding-bottom: 2.5rem;

  }